$border-radiuses: (
  "none": 0,
  "sm": 4px,
  "md": 8px,
  "lg": 12px,
);

@each $size, $value in $border-radiuses {
  .weave-rounded-#{$size} {
    border-radius: $value;
  }

  .weave-rounded-t-#{$size} {
    border-top-left-radius: $value;
    border-top-right-radius: $value;
  }

  .weave-rounded-r-#{$size},
  .weave-rounded-e-#{$size} {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }

  .weave-rounded-b-#{$size} {
    border-bottom-right-radius: $value;
    border-bottom-left-radius: $value;
  }

  .weave-rounded-l-#{$size},
  .weave-rounded-s-#{$size} {
    border-top-left-radius: $value;
    border-bottom-left-radius: $value;
  }

  .weave-rounded-tl-#{$size},
  .weave-rounded-ts-#{$size} {
    border-top-left-radius: $value;
  }

  .weave-rounded-tr-#{$size},
  .weave-rounded-te-#{$size} {
    border-top-right-radius: $value;
  }

  .weave-rounded-br-#{$size},
  .weave-rounded-be-#{$size} {
    border-bottom-right-radius: $value;
  }

  .weave-rounded-bl-#{$size},
  .weave-rounded-bs-#{$size} {
    border-bottom-left-radius: $value;
  }

  //--------------------------- rtl styles ---------------------------
  .application-layout-rtl {
    .weave-rounded-s-#{$size} {
      border-top-right-radius: $value;
      border-bottom-right-radius: $value;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .weave-rounded-e-#{$size} {
      border-top-left-radius: $value;
      border-bottom-left-radius: $value;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .weave-rounded-ts-#{$size} {
      border-top-right-radius: $value;
      border-top-left-radius: 0;
    }

    .weave-rounded-te-#{$size} {
      border-top-left-radius: $value;
      border-top-right-radius: 0;
    }

    .weave-rounded-bs-#{$size} {
      border-bottom-right-radius: $value;
      border-bottom-left-radius: 0;
    }

    .weave-rounded-be-#{$size} {
      border-bottom-left-radius: $value;
      border-bottom-right-radius: 0;
    }
  }
  //------------------------------------------------------------------
}

.weave-rounded {
  border-radius: var(--default-borderradius);
}

.weave-rounded-t {
  border-top-left-radius: var(--default-borderradius);
  border-top-right-radius: var(--default-borderradius);
}

.weave-rounded-r,
.weave-rounded-e {
  border-top-right-radius: var(--default-borderradius);
  border-bottom-right-radius: var(--default-borderradius);
}

.weave-rounded-b {
  border-bottom-right-radius: var(--default-borderradius);
  border-bottom-left-radius: var(--default-borderradius);
}

.weave-rounded-l,
.weave-rounded-s {
  border-top-left-radius: var(--default-borderradius);
  border-bottom-left-radius: var(--default-borderradius);
}

.weave-rounded-tl,
.weave-rounded-ts {
  border-top-left-radius: var(--default-borderradius);
}

.weave-rounded-tr,
.weave-rounded-te {
  border-top-right-radius: var(--default-borderradius);
}

.weave-rounded-br,
.weave-rounded-be {
  border-bottom-right-radius: var(--default-borderradius);
}

.weave-rounded-bl,
.weave-rounded-bs {
  border-bottom-left-radius: var(--default-borderradius);
}

//--------------------------- rtl styles ---------------------------
.application-layout-rtl {
  .weave-rounded-s {
    border-top-right-radius: var(--default-borderradius);
    border-bottom-right-radius: var(--default-borderradius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .weave-rounded-e {
    border-top-left-radius: var(--default-borderradius);
    border-bottom-left-radius: var(--default-borderradius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .weave-rounded-ts {
    border-top-right-radius: var(--default-borderradius);
    border-top-left-radius: 0;
  }

  .weave-rounded-te {
    border-top-left-radius: var(--default-borderradius);
    border-top-right-radius: 0;
  }

  .weave-rounded-bs {
    border-bottom-right-radius: var(--default-borderradius);
    border-bottom-left-radius: 0;
  }

  .weave-rounded-be {
    border-bottom-left-radius: var(--default-borderradius);
    border-bottom-right-radius: 0;
  }
}
//------------------------------------------------------------------

.weave-rounded-circle {
  border-radius: 50%;
}

.weave-rounded-pill {
  border-radius: 9999px;
}
