@mixin align-items ($breakpoint) {
  .weave-align-#{$breakpoint}start {
    align-items: flex-start;
  }

  .weave-align-#{$breakpoint}end {
    align-items: flex-end;
  }

  .weave-align-#{$breakpoint}center {
    align-items: center;
  }

  .weave-align-#{$breakpoint}baseline {
    align-items: baseline;
  }

  .weave-align-#{$breakpoint}stretch {
    align-items: stretch;
  }
}

  @include align-items("");
