@mixin align-self ($breakpoint) {
  .weave-align-self-#{$breakpoint}auto {
    align-self: auto;
  }

  .weave-align-self-#{$breakpoint}start {
    align-self: flex-start;
  }

  .weave-align-self-#{$breakpoint}end {
    align-self: flex-end;
  }

  .weave-align-self-#{$breakpoint}center {
    align-self: center;
  }

  .weave-align-self-#{$breakpoint}stretch {
    align-self: stretch;
  }
}

  @include align-self("");
