@mixin align-content ($breakpoint) {
  .weave-align-content-#{$breakpoint}start {
    align-content: flex-start;
  }

  .weave-align-content-#{$breakpoint}end {
    align-content: flex-end;
  }

  .weave-align-content-#{$breakpoint}center {
    align-content: center;
  }

  .weave-align-content-#{$breakpoint}space-between {
    align-content: space-between;
  }

  .weave-align-content-#{$breakpoint}space-around {
    align-content: space-around;
  }

  .weave-align-content-#{$breakpoint}stretch {
    align-content: stretch;
  }
}

  @include align-content("");
