@mixin flex($breakpoint) {
  .weave-flex-#{$breakpoint}1 {
    flex: 1 1 0%;
  }

  .weave-flex-#{$breakpoint}auto {
    flex: 1 1 auto;
  }

  .weave-flex-#{$breakpoint}initial {
    flex: 0 1 auto;
  }

  .weave-flex-#{$breakpoint}none {
    flex: none;
  }
}

  @include flex("");
