@mixin flex-direction ($breakpoint) {
  .weave-flex-#{$breakpoint}row {
    flex-direction: row;
  }

  .weave-flex-#{$breakpoint}row-reverse {
    flex-direction: row-reverse;
  }

  .weave-flex-#{$breakpoint}column {
    flex-direction: column;
  }

  .weave-flex-#{$breakpoint}column-reverse {
    flex-direction: column-reverse;
  }
}

  @include flex-direction("");
