@mixin flex-wrap ($breakpoint) {
  .weave-flex-#{$breakpoint}wrap {
    flex-wrap: wrap;
  }

  .weave-flex-#{$breakpoint}nowrap {
    flex-wrap: nowrap;
  }

  .weave-flex-#{$breakpoint}wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

  @include flex-wrap("");
