@mixin justify-content ($breakpoint) {
  .weave-justify-#{$breakpoint}start {
    justify-content: flex-start;
  }

  .weave-justify-#{$breakpoint}end {
    justify-content: flex-end;
  }

  .weave-justify-#{$breakpoint}center {
    justify-content: center;
  }

  .weave-justify-#{$breakpoint}space-between {
    justify-content: space-between;
  }

  .weave-justify-#{$breakpoint}space-around {
    justify-content: space-around;
  }

  .weave-justify-#{$breakpoint}space-evenly {
    justify-content: space-evenly;
  }
}

  @include justify-content("");
