$count: 0;

@mixin order ($breakpoint) {
  .weave-order-#{$breakpoint}first {
    order: -9999;
  }

  .weave-order-#{$breakpoint}last {
    order: 9999;
  }

  @while $count < 13 {
    .weave-order-#{$breakpoint}#{$count} {
      order: $count;
    }

    $count: $count + 1;
  }
}


  @include order("");
