@use '../../abstracts/variables' as *;

@mixin display-mixin ($breakpoint) {
  .weave-d-#{$breakpoint}none {
    display: none;
  }

  .weave-d-#{$breakpoint}inline {
    display: inline;
  }

  .weave-d-#{$breakpoint}inline-block {
    display: inline-block;
  }

  .weave-d-#{$breakpoint}block {
    display: block;
  }

  .weave-d-#{$breakpoint}table {
    display: table;
  }

  .weave-d-#{$breakpoint}table-row {
    display: table-row;
  }

  .weave-d-#{$breakpoint}table-cell {
    display: table-cell;
  }

  .weave-d-#{$breakpoint}flex {
    display: flex;
  }

  .weave-d-#{$breakpoint}inline-flex {
    display: inline-flex;
  }

  .weave-d-#{$breakpoint}contents {
    display: contents;
  }
}

@include display-mixin("");

@media (min-width:$breakpoint-xs) {
  @include display-mixin("xs-");
}

@media (min-width:$breakpoint-sm) {
  @include display-mixin("sm-");
}

@media (min-width:$breakpoint-md) {
  @include display-mixin("md-");
}

@media (min-width:$breakpoint-lg) {
  @include display-mixin("lg-");
}

@media (min-width:$breakpoint-xl) {
  @include display-mixin("xl-");
}

@media (min-width:$breakpoint-xxl) {
  @include display-mixin("xxl-");
}
