.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

[hidden] {
  display: none !important;
}

// screen reader only
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}