.weave-divider {
  margin: 0;
  flex-shrink: 0;
  border-color: var(--palette-divider);
  border-width: 2px;
  border-style: solid none none none;
}

.weave-divider--absolute {
  left: 0;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.weave-divider--inset {
  margin-left: 72px;
  margin-inline-start: 72px;
  margin-inline-end: unset;
}

.weave-divider--light {
  border-color: var(--palette-divider-light);
}

.weave-divider--middle {
  margin-left: 16px;
  margin-right: 16px;
}

.weave-divider--vertical {
  border-style: none solid none none;
  height: 100%;
}

.weave-divider--flexitem {
  height: auto;
  align-self: stretch;
}

.weave-divider--fullwidth {
  flex-grow: 1;
  width: 100%;
}
