.weave-dropdown {
  display: inline-flex;
  align-self: center;
  position: relative;
  width: fit-content;
}

.weave-dropdown * {
  cursor: pointer;
}

.weave-dropdown__chevron {
  display: inline-flex;
  margin-left: 8px;
  transition: transform 0.1s;
}
.weave-dropdown__chevron--open {
  transform: rotate(180deg);
}

.weave-dropdown__list {
  width: max-content;
  max-width: none;
  background: var(--palette-background-paper);
  box-shadow: var(--palette-shadow-2);
  border: 1px solid rgba(var(--palette-text-primary-rgb), 0.5);
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  top: 100%;
  left: 0;
}

.weave-dropdown__list--anchor-origin-top-left {
  top: 0;
  left: 0;
}
.weave-dropdown__list--anchor-origin-top-center {
  top: 0;
  left: 50%;
}
.weave-dropdown__list--anchor-origin-top-right {
  top: 0;
  left: 100%;
}
.weave-dropdown__list--anchor-origin-center-left {
  top: 50%;
  left: 0;
}
.weave-dropdown__list--anchor-origin-center-center {
  top: 50%;
  left: 50%;
}
.weave-dropdown__list--anchor-origin-center-right {
  top: 50%;
  left: 100%;
}
.weave-dropdown__list--anchor-origin-bottom-left {
  top: 100%;
  left: 0;
}
.weave-dropdown__list--anchor-origin-bottom-center {
  top: 100%;
  left: 50%;
}
.weave-dropdown__list--anchor-origin-bottom-right {
  top: 100%;
  left: 100%;
}

.weave-dropdown__list--transform-origin-top-left {
  transform-origin: top left;
}
.weave-dropdown__list--transform-origin-top-center {
  transform-origin: top center;
  transform: translateX(-50%);
}
.weave-dropdown__list--transform-origin-top-right {
  transform-origin: top right;
  transform: translateX(-100%);
}
.weave-dropdown__list--transform-origin-center-left {
  transform-origin: center left;
  transform: translateY(-50%);
}
.weave-dropdown__list--transform-origin-center-center {
  transform-origin: center center;
  transform: translate(-50%, -50%);
}
.weave-dropdown__list--transform-origin-center-right {
  transform-origin: center right;
  transform: translateY(-50%) translateX(-100%);
}
.weave-dropdown__list--transform-origin-bottom-left {
  transform-origin: bottom left;
  transform: translateY(-100%);
}
.weave-dropdown__list--transform-origin-bottom-center {
  transform-origin: bottom center;
  transform: translateY(-100%) translateX(-50%);
}
.weave-dropdown__list--transform-origin-bottom-right {
  transform-origin: bottom right;
  transform: translateY(-100%) translateX(-100%);
}

.weave-dropdown__item {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: start;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: background 0.1s;
}
.weave-dropdown__item:hover:not(.weave-dropdown__item--disabled) {
  background: var(--palette-action-hover);
}
.weave-dropdown__item--disabled {
  color: var(--palette-action-disabled) !important;
  cursor: default !important;
  pointer-events: none !important;
}
.weave-dropdown__item--disabled .ws-dropdown__item-icon {
  color: var(--palette-action-disabled) !important;
}
.weave-dropdown__item-icon {
  display: inline-flex;
  flex-shrink: 0;
  margin-inline-end: 12px;
  color: var(--palette-action-default);
}
.weave-dropdown__item-text {
  flex: 1 1 auto;
  margin: 4px 0;
}
.weave-dropdown__divider {
  margin: 4px 0;
  height: 1px;
  background: var(--palette-divider);
  width: 100%;
}
.weave-dropdown__list:has(.weave-dropdown__item-icon)
  .weave-dropdown__item:not(:has(.weave-dropdown__item-icon))
  .weave-dropdown__item-text {
  margin-inline-start: 36px;
}
.weave-dropdown__list:has(.weave-dropdown__subdropdown-icon)
  .weave-dropdown__item:not(:has(.weave-dropdown__subdropdown-icon))
  .weave-dropdown__item-text {
  margin-inline-end: 36px;
}
.weave-dropdown__subdropdown-icon {
  display: inline-flex;
  margin-inline-start: 12px;
  color: var(--palette-action-default);
}
.weave-dropdown--open {
  z-index: 20;
}

.weave-popover:has(> .weave-dropdown__list) {
  overflow: hidden;
}
.weave-popover:has(> .weave-dropdown__list:empty) {
  visibility: hidden;
}
