.weave-switch {
  --switch-brand-color: var(--palette-action-default);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;

  &.flex-row {
    flex-direction: row;
    align-items: center;
  }
  &.flex-row-reverse {
    flex-direction: row-reverse;
    align-items: center;
  }
  &.flex-column {
    flex-direction: column;
    align-items: flex-start;
  }
  &.flex-column-reverse {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    width: max-content;
  }
  .weave-switch__label {
    font-size: 1em;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .weave-switch.flex-row & {
      margin-left: 0.5em;
    }

    .weave-switch.flex-row-reverse & {
      margin-left: 0;
      margin-right: 0.5em;
    }

    .weave-switch.flex-column & {
      margin-left: 0;
      margin-bottom: 0.5em;
    }

    .weave-switch.flex-column-reverse & {
      margin-left: 0;
      margin-top: 0.5em;
    }
  }

  &.readonly {
    cursor: default;
    background-color: transparent !important;
  }

  @media (hover: hover) and (pointer: fine) {
    .readonly:hover {
      cursor: default;
      background-color: transparent !important;
    }
  }
}

.weave-switch--primary {
  --switch-brand-color: var(--palette-primary);
}
.weave-switch--secondary {
  --switch-brand-color: var(--palette-secondary);
}
.weave-switch--tertiary {
  --switch-brand-color: var(--palette-tertiary);
}
.weave-switch--error {
  --switch-brand-color: var(--palette-error);
}
.weave-switch--warning {
  --switch-brand-color: var(--palette-warning);
}
.weave-switch--success {
  --switch-brand-color: var(--palette-success);
}
.weave-switch--info {
  --switch-brand-color: var(--palette-info);
}

.weave-switch__container {
  --switch-brand-color: inherit;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  flex-shrink: 0;
  vertical-align: middle;

  .weave-switch.flex-row & {
    margin-right: 0.5em;
  }

  .weave-switch.flex-row-reverse & {
    margin-left: 0.5em;
  }

  .weave-switch.flex-column & {
    margin-bottom: 0.3em;
  }

  .weave-switch.flex-column-reverse & {
    margin-top: 0.3em;
  }
}

.weave-switch__track {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 9px;
  background-color: var(--switch-brand-color, var(--palette-action-default));
}

.weave-switch__thumb {
  width: 20px;
  height: 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  background-color: currentColor;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  transition: left 0.2s, background 0.2s;
  z-index: 1;
}

// Checkmark inside thumb when toggled
.weave-switch__thumb::after {
  content: "";
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 14px;
  border: solid var(--palette-background-paper, #fff);
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -60%) rotate(45deg);
  pointer-events: none;
}

.weave-switch__input:checked ~ .weave-switch__thumb::after {
  display: block;
}

/* Checked state: move thumb to right */
.weave-switch__input:checked ~ .weave-switch__thumb {
  left: calc(100% - 20px);
}
.weave-switch__input:checked ~ .weave-switch__track {
  background: var(--switch-brand-color, var(--palette-action-default));
  opacity: 0.8;
}

.weave-switch--primary .weave-switch__input:checked ~ .weave-switch__thumb {
  background: var(--palette-primary);
  border-color: #f0f0f0;
  border-radius: 50%;
}
.weave-switch--primary
  .weave-switch__input:checked
  ~ .weave-switch__thumb::after {
  border-color: var(--palette-primary-text);
}

.weave-switch--secondary .weave-switch__input:checked ~ .weave-switch__thumb {
  background: var(--palette-secondary);
}
.weave-switch--secondary
  .weave-switch__input:checked
  ~ .weave-switch__thumb::after {
  border-color: var(--palette-secondary-text);
}

.weave-switch--tertiary .weave-switch__input:checked ~ .weave-switch__thumb {
  background: var(--palette-tertiary);
}
.weave-switch--tertiary
  .weave-switch__input:checked
  ~ .weave-switch__thumb::after {
  border-color: var(--palette-tertiary-text);
}

.weave-switch--error .weave-switch__input:checked ~ .weave-switch__thumb {
  background: var(--palette-error);
}
.weave-switch--error
  .weave-switch__input:checked
  ~ .weave-switch__thumb::after {
  border-color: var(--palette-error-text);
}

.weave-switch--warning .weave-switch__input:checked ~ .weave-switch__thumb {
  background: var(--palette-warning);
}
.weave-switch--warning
  .weave-switch__input:checked
  ~ .weave-switch__thumb::after {
  border-color: var(--palette-warning-text);
}

.weave-switch--success .weave-switch__input:checked ~ .weave-switch__thumb {
  background: var(--palette-success);
}
.weave-switch--success
  .weave-switch__input:checked
  ~ .weave-switch__thumb::after {
  border-color: var(--palette-success-text);
}

.weave-switch--info .weave-switch__input:checked ~ .weave-switch__thumb {
  background: var(--palette-info);
}
.weave-switch--info .weave-switch__input:checked ~ .weave-switch__thumb::after {
  border-color: var(--palette-info-text);
}

.weave-switch__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: inherit;
  z-index: 1;
}

// Disabled state: hide thumb, style track
.weave-switch__input:disabled ~ .weave-switch__thumb {
  display: none;
}
.weave-switch__input:disabled ~ .weave-switch__track {
  background: var(--palette-action-disabled, #f0f0f0);
  opacity: 1;
}

.weave-switch__span {
  width: 58px;
  height: 38px;
  display: inline-flex;
  padding: 12px;
  z-index: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  vertical-align: middle;
}

.weave-switch__base {
  padding: 9px;
  top: 0;
  left: 0;
  color: #fafafa;
  z-index: 1;
  position: absolute;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &.checked {
    transform: translateX(20px);

    & + .weave-switch-track {
      opacity: 0.5;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--palette-action-default-hover);
    }
  }

  &.weave-switch--disabled {
    color: var(--palette-gray-default) !important;

    & + .weave-switch-track {
      opacity: 0.12 !important;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: default;
        background-color: transparent !important;
      }
    }

    &:focus-visible,
    &:active {
      cursor: default;
      background-color: transparent !important;
    }
  }
}

.weave-switch__button {
  display: flex;
  align-items: inherit;
  justify-content: inherit;

  & .weave-switch__input {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
  }

  & .weave-switch__thumb--small {
    width: 14px;
    height: 14px;
  }

  & .weave-switch__thumb--medium {
    width: 20px;
    height: 20px;
  }

  & .weave-switch__thumb--large {
    width: 26px;
    height: 26px;
  }
}

.weave-switch__base--small {
  &.weave-switch__base {
    padding: 5px;
  }
}

.weave-switch__base--medium {
  &.weave-switch__base {
    padding: 9px;
  }
}

.weave-switch__base--large {
  &.weave-switch__base {
    padding: 13px;
  }
}

.weave-switch__span--small {
  &.weave-switch__span {
    padding: 7px;
    width: 44px;
    height: 24px;
  }
}

.weave-switch__span--medium {
  &.weave-switch__span {
    padding: 12px;
    width: 58px;
    height: 38px;
  }
}

.weave-switch__span---large {
  &.weave-switch__span {
    padding: 17px;
    width: 72px;
    height: 52px;
  }
}
