.weave-tooltip-root {
  position: relative;
  display: inline-block;

  &.weave-tooltip-root--inline {
    display: inline-block;
  }

  &.weave-tooltip-root--inline:has(> .width-full) {
    display: block;
    width: 100%;
  }
}

.weave-tooltip {
  position: absolute;
  padding: 4px 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4em;
  border-radius: var(--default-borderradius);
  z-index: 10;
  white-space: nowrap;

  &.weave-tooltip--default {
    color: var(--palette-text-primary);
    background-color: var(--palette-background-paper);

    &.weave-tooltip--arrow::after {
      border-color: var(--palette-divider) transparent transparent transparent;
    }
  }

  @each $color in $palette-colors {
    &.weave-tooltip--#{$color} {
      color: var(--palette-#{$color}-text);
      background-color: var(--palette-#{$color});

      &.weave-tooltip--arrow::after {
        border-color: var(--palette-#{$color})
          transparent
          transparent
          transparent;
      }
    }
  }

  &.weave-tooltip {
    &--center-left:not([data-popover-flip]),
    &--center-right[data-popover-flip] {
      right: 100%;
      top: 50%;
      transform: translateY(-50%) translateX(-10px);

      &.weave-tooltip--arrow::after {
        left: 100%;
        top: 50%;
        transform: translateY(-50%) rotate(270deg);
      }
    }

    &--center-right:not([data-popover-flip]),
    &--center-left[data-popover-flip] {
      left: 100%;
      top: 50%;
      transform: translateY(-50%) translateX(10px);

      &.weave-tooltip--arrow::after {
        right: 100%;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
      }
    }

    &--top-center:not([data-popover-flip]),
    &--bottom-center[data-popover-flip] {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(-10px);

      &.weave-tooltip--arrow::after {
        top: 100%;
        left: 50%;
        transform: translateX(-50%) rotate(0deg);
      }
    }

    &--bottom-center:not([data-popover-flip]),
    &--top-center[data-popover-flip] {
      top: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(10px);

      &.weave-tooltip--arrow::after {
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
      }
    }
  }

  &.weave-tooltip--arrow::after {
    content: "";
    position: absolute;
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
    border-top-color: inherit;
  }
}
