@import "../abstracts/variables";

.weave-container {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.weave-container--gutters {
  padding-left: 16px;
  padding-right: 16px;
}

.weave-container--fill-height {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: $breakpoint-sm) {
  .weave-container--gutters {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: $breakpoint-sm) {
  .weave-container--fixed {
    max-width: $breakpoint-sm;
  }
}

@media (min-width: $breakpoint-md) {
  .weave-container--fixed {
    max-width: $breakpoint-md;
  }
}

@media (min-width: $breakpoint-lg) {
  .weave-container--fixed {
    max-width: $breakpoint-lg;
  }
}

@media (min-width: $breakpoint-xl) {
  .weave-container--fixed {
    max-width: $breakpoint-xl;
  }
}

@media (min-width: $breakpoint-xxl) {
  .weave-container--fixed {
    max-width: $breakpoint-xxl;
  }
}

@media (min-width: $breakpoint-xs) {
  .weave-container--maxwidth-xs {
    max-width: 444px;
  }
}

@media (min-width: $breakpoint-sm) {
  .weave-container--maxwidth-sm {
    max-width: $breakpoint-sm;
  }
}

@media (min-width: $breakpoint-md) {
  .weave-container--maxwidth-md {
    max-width: $breakpoint-md;
  }
}

@media (min-width: $breakpoint-lg) {
  .weave-container--maxwidth-lg {
    max-width: $breakpoint-lg;
  }
}

@media (min-width: $breakpoint-xl) {
  .weave-container--maxwidth-xl {
    max-width: $breakpoint-xl;
  }
}

@media (min-width: $breakpoint-xxl) {
  .weave-container--maxwidth-xxl {
    max-width: $breakpoint-xxl;
  }
}
