@import "../abstracts/variables";

.weave-drawer {
  display: flex;
  flex: 0 0 auto;
  outline: 0;
  position: fixed;
  z-index: var(--zindex-drawer);
  overflow-y: auto;
  flex-direction: column;
  color: var(--palette-drawer-text);
  background-color: var(--palette-drawer-background);

  .weave-drawer-content {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
  }

  &:not(.weave-drawer-fixed) {
    position: absolute;
  }

  @each $breakpoint in map-keys($breakpoints) {
    &.weave-drawer-mini.weave-drawer-#{$breakpoint}:not(.weave-drawer--closed),
    &.weave-drawer-responsive.weave-drawer-#{$breakpoint} {
      @media (max-width: (map-get($breakpoints, $breakpoint) - 1px)) {
        z-index: calc(var(--zindex-appbar) + 2);

        &.weave-drawer--initial:not(.weave-drawer-mini) {
          display: none !important;
        }
      }
    }
  }

  &.weave-drawer-responsive,
  &.weave-drawer-persistent {
    &.weave-drawer-pos-left {
      height: 100%;
      right: auto;
      width: var(--drawer-width, var(--drawer-width-left));

      &.weave-drawer--open {
        left: 0;

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-in-left 225ms cubic-bezier(0, 0, 0.2, 1);
        }
      }

      &.weave-drawer--closed {
        box-shadow: none;
        left: calc(-1 * var(--drawer-width, var(--drawer-width-left)));

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-out-left 225ms cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }

    &.weave-drawer-pos-right {
      height: 100%;
      left: auto;
      width: var(--drawer-width, var(--drawer-width-right));

      &.weave-drawer--open {
        right: 0;

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-in-right 225ms cubic-bezier(0, 0, 0.2, 1);
        }
      }

      &.weave-drawer--closed {
        box-shadow: none;
        right: calc(-1 * var(--drawer-width, var(--drawer-width-right)));

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-out-right 225ms cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }

    &.weave-drawer-pos-bottom {
      width: 100%;
      top: auto;
      height: var(--drawer-height, var(--drawer-height-bottom));

      &.weave-drawer--open {
        bottom: 0;

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-in-bottom 225ms cubic-bezier(0, 0, 0.2, 1);
        }
      }

      &.weave-drawer--closed {
        box-shadow: none;
        bottom: calc(-1 * var(--drawer-height, var(--drawer-height-bottom)));

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-out-bottom 225ms cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }

    &.weave-drawer-pos-top {
      width: 100%;
      bottom: auto;
      height: var(--drawer-height, var(--drawer-height-top));

      &.weave-drawer--open {
        top: 0;

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-in-top 225ms cubic-bezier(0, 0, 0.2, 1);
        }
      }

      &.weave-drawer--closed {
        box-shadow: none;
        top: calc(-1 * var(--drawer-height, var(--drawer-height-top)));

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-out-top 225ms cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }
  }

  &.weave-drawer-mini {
    height: 100%;
    transition: width 225ms cubic-bezier(0, 0, 0.2, 1);

    &.weave-drawer-pos-left {
      left: 0;
      right: auto;

      &.weave-drawer--closed {
        width: var(--drawer-width-mini-left);
      }

      &.weave-drawer--open {
        width: var(--drawer-width-left);
      }
    }

    &.weave-drawer-pos-right {
      left: auto;
      right: 0;

      &.weave-drawer--closed {
        width: var(--drawer-width-mini-right);
      }

      &.weave-drawer--open {
        width: var(--drawer-width-right);
      }
    }
  }

  &.weave-drawer-temporary {
    margin: 0 !important;
    z-index: calc(var(--zindex-appbar) + 2);
    transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    &.weave-drawer-pos-left {
      right: auto;
      top: 0;
      height: 100%;
      width: var(--drawer-width, var(--drawer-width-left));

      &.weave-drawer--open {
        left: 0;

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-in-left 225ms cubic-bezier(0, 0, 0.2, 1)
            forwards;
        }
      }

      &.weave-drawer--closed {
        left: calc(-1 * var(--drawer-width, var(--drawer-width-left)));

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-out-left 225ms cubic-bezier(0, 0, 0.2, 1)
            forwards;
        }
      }
    }

    &.weave-drawer-pos-right {
      left: auto;
      top: 0;
      height: 100%;
      width: var(--drawer-width, var(--drawer-width-right));

      &.weave-drawer--open {
        right: 0;

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-in-right 225ms cubic-bezier(0, 0, 0.2, 1)
            forwards;
        }
      }

      &.weave-drawer--closed {
        right: calc(-1 * var(--drawer-width, var(--drawer-width-right)));

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-out-right 225ms cubic-bezier(0, 0, 0.2, 1)
            forwards;
        }
      }
    }

    &.weave-drawer-pos-bottom {
      left: 0;
      top: auto;
      width: 100%;

      &.weave-drawer--open {
        bottom: 0;

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-in-bottom 225ms cubic-bezier(0, 0, 0.2, 1) 0ms
            1;
        }
      }

      &.weave-drawer--closed {
        bottom: calc(-1 * var(--drawer-height, var(--drawer-height-bottom)));

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-out-bottom 225ms cubic-bezier(0, 0, 0.2, 1)
            0ms 1;
        }
      }
    }

    &.weave-drawer-pos-top {
      left: 0;
      bottom: auto;
      width: 100%;

      &.weave-drawer--open {
        top: 0;

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-in-top 225ms cubic-bezier(0, 0, 0.2, 1) 0ms 1;
        }
      }

      &.weave-drawer--closed {
        top: calc(-1 * var(--drawer-height, var(--drawer-height-top)));

        &:not(.weave-drawer--initial) {
          animation: drawer-slide-out-top 225ms cubic-bezier(0, 0, 0.2, 1) 0ms 1;
        }
      }
    }
  }

  &.weave-drawer-mini.weave-drawer-pos-left ~ div:not(.main-content),
  &.weave-drawer-mini.weave-drawer-pos-right ~ div:not(.main-content),
  &.weave-drawer-persistent.weave-drawer-pos-left ~ div:not(.main-content),
  &.weave-drawer-persistent.weave-drawer-pos-right ~ div:not(.main-content),
  &.weave-drawer-persistent.weave-drawer-pos-top ~ div:not(.main-content),
  &.weave-drawer-persistent.weave-drawer-pos-bottom ~ div:not(.main-content) {
    transition: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }

  &.weave-drawer-mini.weave-drawer-pos-left.weave-drawer--open
    ~ div:not(.main-content),
  &.weave-drawer-persistent.weave-drawer-pos-left.weave-drawer--open
    ~ div:not(.main-content) {
    margin-left: var(--drawer-width, var(--drawer-width-left));
  }

  &.weave-drawer-mini.weave-drawer-pos-right.weave-drawer--open
    ~ div:not(.main-content),
  &.weave-drawer-persistent.weave-drawer-pos-right.weave-drawer--open
    ~ div:not(.main-content) {
    margin-right: var(--drawer-width, var(--drawer-width-right));
  }

  &.weave-drawer-mini.weave-drawer-pos-top.weave-drawer--open
    ~ div:not(.main-content),
  &.weave-drawer-persistent.weave-drawer-pos-top.weave-drawer--open
    ~ div:not(.main-content) {
    margin-top: var(--drawer-height, var(--drawer-height-top));
  }

  &.weave-drawer-mini.weave-drawer-pos-bottom.weave-drawer--open
    ~ div:not(.main-content),
  &.weave-drawer-persistent.weave-drawer-pos-bottom.weave-drawer--open
    ~ div:not(.main-content) {
    margin-bottom: var(--drawer-height, var(--drawer-height-bottom));
  }

  &.weave-drawer-mini.weave-drawer-pos-left.weave-drawer--closed
    ~ div:not(.main-content) {
    margin-left: var(--drawer-width, var(--drawer-width-mini-left));
  }

  &.weave-drawer-mini.weave-drawer-pos-right.weave-drawer--closed
    ~ div:not(.main-content) {
    margin-right: var(--drawer-width, var(--drawer-width-mini-right));
  }
}

.weave-drawer-header {
  display: flex;
  min-height: var(--appbar-height);
  padding: 12px 24px 12px 24px;

  &.weave-drawer-header-dense {
    min-height: calc(var(--appbar-height) - var(--appbar-height) / 4);
    padding: 8px 24px 8px 24px;
  }
}

.weave-drawer-fixed {
  &.weave-drawer-mini.weave-drawer-clipped-always,
  &.weave-drawer-persistent:not(.weave-drawer-clipped-never),
  &.weave-drawer-responsive.weave-drawer-clipped-always,
  &.weave-drawer-temporary.weave-drawer-clipped-always {
    top: var(--appbar-height);
    height: calc(100% - var(--appbar-height));

    @media (max-width: $breakpoint-sm - 1px) and (orientation: landscape) {
      top: calc(var(--appbar-height) - var(--appbar-height) / 4);
      height: calc(
        100% - calc(var(--appbar-height) - var(--appbar-height) / 4)
      );
    }

    @media (max-width: $breakpoint-sm - 1px) and (orientation: portrait) {
      top: calc(var(--appbar-height) - var(--appbar-height) / 8);
      height: calc(
        100% - calc(var(--appbar-height) - var(--appbar-height) / 8)
      );
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    &.weave-drawer-mini.weave-drawer-clipped-docked.weave-drawer-#{$breakpoint},
    &.weave-drawer-responsive.weave-drawer-clipped-docked.weave-drawer-#{$breakpoint} {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        top: var(--appbar-height);
        height: calc(100% - var(--appbar-height));

        @media (max-width: $breakpoint-sm - 1px) and (orientation: landscape) {
          top: calc(
            var(--appbar-height) - var(--appbar-height) - var(--appbar-height) /
              4
          );
          height: calc(
            100% - var(--appbar-height) + var(--appbar-height) -
              var(--appbar-height) / 4
          );
        }

        @media (max-width: $breakpoint-sm - 1px) and (orientation: portrait) {
          top: calc(var(--appbar-height) - var(--appbar-height) / 8);
          height: calc(100% - var(--appbar-height) / 8);
        }
      }
    }
  }
}

.appbar-dense ~ .weave-drawer-fixed {
  &.weave-drawer-mini:not(.weave-drawer-clipped-never),
  &.weave-drawer-persistent:not(.weave-drawer-clipped-never),
  &.weave-drawer-responsive.weave-drawer-clipped-always,
  &.weave-drawer-temporary.weave-drawer-clipped-always {
    top: calc(var(--appbar-height) - var(--appbar-height) / 4);
    height: calc(100% - var(--appbar-height) + var(--appbar-height) / 4);
  }

  @each $breakpoint in map-keys($breakpoints) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      &.weave-drawer-responsive.weave-drawer-clipped-docked.weave-drawer-#{$breakpoint} {
        top: calc(var(--appbar-height) - var(--appbar-height) / 4);
        height: calc(100% - var(--appbar-height) + var(--appbar-height) / 4);
      }
    }
  }
}

.weave-drawer-overlay {
  display: none;

  &.weave-drawer-overlay--open {
    @each $breakpoint in map-keys($breakpoints) {
      &.weave-drawer-overlay-responsive.weave-drawer-overlay-#{$breakpoint} {
        @media (max-width: map-get($breakpoints, $breakpoint) - 1px) {
          display: block;

          &.weave-drawer--initial {
            display: none;
          }
        }
      }

      &.weave-drawer-overlay-mini.weave-drawer-overlay-#{$breakpoint} {
        @media (max-width: map-get($breakpoints, $breakpoint) - 1px) {
          display: block;
        }
      }
    }

    &.weave-drawer-overlay-temporary {
      display: block;
    }
  }
}

/*#region keyframes*/
@keyframes drawer-slide-in-left {
  from {
    left: calc(-1 * var(--drawer-width, var(--drawer-width-left)));
  }
}

@keyframes drawer-slide-out-left {
  from {
    left: 0;
  }
}

@keyframes drawer-slide-in-right {
  from {
    right: calc(-1 * var(--drawer-width, var(--drawer-width-right)));
  }
}

@keyframes drawer-slide-out-right {
  from {
    right: 0;
  }
}

@keyframes drawer-slide-in-bottom {
  from {
    bottom: calc(-1 * var(--drawer-height, var(--drawer-height-bottom)));
  }
}

@keyframes drawer-slide-out-bottom {
  from {
    bottom: 0;
  }
}

@keyframes drawer-slide-in-top {
  from {
    top: calc(-1 * var(--drawer-height, var(--drawer-height-top)));
  }
}

@keyframes drawer-slide-out-top {
  from {
    top: 0;
  }
}
/*#endregion*/
