@import "../abstracts/variables";

.weave-main-content {
  margin: 0;
  flex: 1 1 auto;
  transition: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

// AppBar --dense modifier offsets the main content padding
.weave-appbar--dense {
  ~ .weave-main-content {
    padding-top: calc(var(--appbar-height) - var(--appbar-height) / 4);
  }
}
