@use "../abstracts/variables" as *;

.weave-main-content {
  margin: 0;
  flex: 1 1 auto;
  transition: margin var(--weave-duration-drawer) $ease-decelerate 0ms;
}

// AppBar --dense modifier offsets the main content padding
.weave-appbar--dense {
  ~ .weave-main-content {
    padding-top: calc(var(--appbar-height) - var(--appbar-height) / 4);
  }
}
