@import "../abstracts/variables";

.weave-main-content {
  margin: 0;
  flex: 1 1 auto;
  padding-top: calc(var(--appbar-height) - var(--appbar-height) / 8);
  transition: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

@media (min-width: $breakpoint-xs) and (orientation: landscape) {
  .weave-main-content {
    padding-top: calc(var(--appbar-height) - var(--appbar-height) / 4);
  }
}

@media (min-width: $breakpoint-sm) {
  .weave-main-content {
    padding-top: var(--appbar-height);
  }
}

.appbar-dense {
  ~ .weave-main-content {
    padding-top: calc(var(--appbar-height) - var(--appbar-height) / 4);
  }
}

.weave-drawer-open {
  &-responsive {
    @each $breakpoint in map-keys($breakpoints) {
      &-#{$breakpoint} {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
          &-left .weave-main-content {
            margin-left: var(--drawer-width-left);
          }

          &-right .weave-main-content {
            margin-right: var(--drawer-width-right);
          }

          &-left#{&}-right .weave-main-content {
            margin-right: var(--drawer-width-right);
            margin-left: var(--drawer-width-left);
          }
        }
      }
    }
  }

  &-persistent {
    &-left:not(&-right) .weave-main-content {
      margin-left: var(--drawer-width-left);
    }

    &-right:not(&-left) .weave-main-content {
      margin-right: var(--drawer-width-right);
    }

    &-left#{&}-right .weave-main-content {
      margin-right: var(--drawer-width-right);
      margin-left: var(--drawer-width-left);
    }
  }

  &-mini {
    @each $breakpoint in map-keys($breakpoints) {
      &-#{$breakpoint} {
        &-left .weave-main-content {
          margin-left: var(--drawer-width-left);
        }

        &-right .weave-main-content {
          margin-right: var(--drawer-width-right);
        }

        &-left#{&}-right .weave-main-content {
          margin-right: var(--drawer-width-right);
          margin-left: var(--drawer-width-left);
        }
      }
    }

    &-none,
    &-always {
      &-left .weave-main-content {
        margin-left: var(--drawer-width-left);
      }

      &-right .weave-main-content {
        margin-right: var(--drawer-width-right);
      }

      &-left#{&}-right .weave-main-content {
        margin-right: var(--drawer-width-right);
        margin-left: var(--drawer-width-left);
      }
    }
  }
}

.weave-drawer-close {
  &-mini {
    @each $breakpoint in map-keys($breakpoints) {
      &-#{$breakpoint} {
        &-left .weave-main-content {
          margin-left: var(--drawer-width-mini-left);
        }

        &-right .weave-main-content {
          margin-right: var(--drawer-width-mini-right);
        }

        &-left#{&}-right .weave-main-content {
          margin-right: var(--drawer-width-mini-right);
          margin-left: var(--drawer-width-mini-left);
        }
      }
    }

    &-none,
    &-always {
      &-left .weave-main-content {
        margin-left: var(--drawer-width-mini-left);
      }

      &-right .weave-main-content {
        margin-right: var(--drawer-width-mini-right);
      }

      &-left#{&}-right .weave-main-content {
        margin-right: var(--drawer-width-mini-right);
        margin-left: var(--drawer-width-mini-left);
      }
    }
  }
}
