@use 'variables' as *;

@each $color in $palette-colors {
  .weave-#{$color} {
    background-color: var(--palette-#{$color});
  }

  .weave-#{$color}-text {
    color: var(--palette-#{$color});
    --ripple-color: var(--palette-#{$color});
  }

  .weave-#{$color}-hover {
    background-color: var(--palette-#{$color}-hover);
  }

  .hover\:weave-#{$color}-hover {
    @media(hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--palette-#{$color}-hover);
      }
    }

    &:focus-visible, &:active {
      background-color: var(--palette-#{$color}-hover);
    }
  }

  .weave-border-#{$color} {
    border-color: var(--palette-#{$color});
  }

  .weave-theme-#{$color} {
    color: var(--palette-#{$color}-text);
    background-color: var(--palette-#{$color});
  }

  // Automatically apply correct text color when background is set via inline style
  [style*="background-color: var(--palette-#{$color})"] {
    color: var(--palette-#{$color}-text);
  }
}

.weave-inherit-text {
  color: inherit;
}

.weave-border-lines-default {
  border-color: var(--palette-lines-default);
}

.weave-background {
  background-color: var(--palette-background);
}

.weave-background-gray {
  background-color: var(--palette-background-gray);
}

.weave-theme-transparent {
  color: inherit;
  background-color: transparent;
}

.weave-transparent {
  background-color: transparent;
}

.weave-transparent-text {
  color: transparent;
}

.weave-text-primary {
  color: var(--palette-text-primary);
}

.weave-text-secondary {
  color: var(--palette-text-secondary);
}

.weave-text-disabled {
  color: var(--palette-text-disabled);
}

.weave-white {
  background-color: #FFFFFF;
}

.weave-white-text {
  color: #FFFFFF;
}

.weave-black {
  background-color: #000000;
}

.weave-black-text {
  color: #000000;
}
